Thais Bastos
Aula 8

Desafio Nitendo

In [16]:
#Abra o arquivo "best-selling game consoles.xlsx" em um dataframe.

import pandas as pd

# Caminho do arquivo CSV
caminho_arquivo = r'C:\Users\Thais\projetopythoncode\Thais_Bastos_Aula_8_Desafio\best-selling game consoles.xlsx'

# Carregar o arquivo CSV em um DataFrame
df = pd.read_excel(caminho_arquivo, sheet_name='consoles')

print(df.head())

      Console Name      Type   Company  Released Year  Discontinuation Year  \
0    PlayStation 2      Home      Sony           2000                  2013
1      Nintendo DS  Handheld  Nintendo           2004                  2013
2  Nintendo Switch    Hybrid  Nintendo           2017                     0
3         Game Boy  Handheld  Nintendo           1989                  2003
4   Game Boy Color  Handheld  Nintendo           1998                  2003

   Units sold (million)                                            Remarks
0                155.00           Final sales are greater than 155 million
1                154.02                                                NaN
2                122.55                                                NaN
3                 64.42  The Game Boy (1989) and the Game Boy Color (19...
4                 44.06                                                NaN

In [18]:
#Substitua a palavra "NES" por "Nitendinho" no nome dos consoles e deixe todos os nomes em maiÃºsculos.

df['Console Name'] = df['Console Name'].str.replace('NES', 'Nitendinho').str.upper()

print(df['Console Name'])

0                         PLAYSTATION 2
1                           NINTENDO DS
2                       NINTENDO SWITCH
3                              GAME BOY
4                        GAME BOY COLOR
5                         PLAYSTATION 4
6                           PLAYSTATION
7                                   WII
8                         PLAYSTATION 3
9                              XBOX 360
10                     GAME BOY ADVANCE
11                 PLAYSTATION PORTABLE
12                         NINTENDO 3DS
13                   NITENDINHO/FAMICOM
14                             XBOX ONE
15            SNITENDINHO/SUPER FAMICOM
16                         GAME & WATCH
17                          NINTENDO 64
18       SEGA GENITENDINHOIS/MEGA DRIVE
19                        PLAYSTATION 5
20                           ATARI 2600
21                                 XBOX
22                             GAMECUBE
23                      XBOX SERIES X/S
24                                WII U
25                     PLAYSTATION VITA
26                   SEGA MASTER SYSTEM
27                       SEGA GAME GEAR
28              PC ENGINE/TURBOGRAFX-16
29                          SEGA SATURN
30                            DREAMCAST
31    MASTER SYSTEM(BRAZILIAN VARIANTS)
32                     DENDY(FAMICLONE)
33     SUPER NITENDINHO CLASSIC EDITION
34                  FAMICOM DISK SYSTEM
35           NITENDINHO CLASSIC EDITION
36                           WONDERSWAN
37                            SEGA PICO
38                        COLOR TV-GAME
39                        INTELLIVISION
40       MEGA DRIVE(BRAZILIAN VARIANTS)
41                               N-GAGE
42                              SEGA CD
43                         COLECOVISION
44                     MAGNAVOX ODYSSEY
45                     PC ENGINE CD-ROM
46                           ATARI 7800
47                           ATARI LYNX
48                         PHILIPS CD-I
49                              TELSTAR
50                           ATARI 5200
Name: Console Name, dtype: object

In [19]:
#Filtre o nome dos consoles com data de release depois de 2010.

df['Released Year'] = pd.to_datetime(df['Released Year'], format='%Y', errors='coerce')
df_post_2010 = df[df['Released Year'].dt.year > 2010]

print(df_post_2010)

                        Console Name       Type    Company Released Year  \
2                    NINTENDO SWITCH     Hybrid   Nintendo    2017-01-01
5                      PLAYSTATION 4       Home       Sony    2013-01-01
12                      NINTENDO 3DS   Handheld   Nintendo    2011-01-01
14                          XBOX ONE       Home  Microsoft    2013-01-01
19                     PLAYSTATION 5       Home       Sony    2020-01-01
23                   XBOX SERIES X/S       Home  Microsoft    2020-01-01
24                             WII U       Home   Nintendo    2012-01-01
25                  PLAYSTATION VITA   Handheld       Sony    2011-01-01
33  SUPER NITENDINHO CLASSIC EDITION  Dedicated   Nintendo    2017-01-01
35        NITENDINHO CLASSIC EDITION  Dedicated   Nintendo    2016-01-01

    Discontinuation Year  Units sold (million)  \
2                      0                122.55
5                      0                117.20
12                  2020                 75.94
14                  2020                 58.50
19                     0                 30.00
23                     0                 18.50
24                  2017                 13.56
25                  2019                 15.00
33                  2018                  5.28
35                  2018                  3.56

                              Remarks
2                                 NaN
5                                 NaN
12                                NaN
14  Estimated between 51-58.5 million
19                                NaN
23  Approximately around 18.5 million
24                                NaN
25    Estimated between 10-15 million
33                                NaN
35                                NaN

In [20]:
#De um describe e info da base, substitua os missing values pela string "missing".
df.fillna('missing', inplace=True)
description = df.describe(include='all')
info = df.info()

print(description)
print(info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Console Name          51 non-null     object
 1   Type                  51 non-null     object
 2   Company               51 non-null     object
 3   Released Year         51 non-null     datetime64[ns]
 4   Discontinuation Year  51 non-null     int64
 5   Units sold (million)  51 non-null     float64
 6   Remarks               51 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 2.9+ KB
         Console Name  Type   Company                  Released Year  \
count              51    51        51                             51
unique             51     5        15                            NaN
top     PLAYSTATION 2  Home  Nintendo                            NaN
freq                1    31        17                            NaN
mean              NaN   NaN       NaN  1996-01-22 21:10:35.294117632
min               NaN   NaN       NaN            1976-01-01 00:00:00
25%               NaN   NaN       NaN            1987-07-02 12:00:00
50%               NaN   NaN       NaN            1994-01-01 00:00:00
75%               NaN   NaN       NaN            2004-07-02 00:00:00
max               NaN   NaN       NaN            2020-01-01 00:00:00
std               NaN   NaN       NaN                            NaN

        Discontinuation Year  Units sold (million)  Remarks
count              51.000000             51.000000       51
unique                   NaN                   NaN       13
top                      NaN                   NaN  missing
freq                     NaN                   NaN       35
mean             1844.803922             35.549412      NaN
min                 0.000000              1.000000      NaN
25%              1992.000000              3.200000      NaN
50%              1998.000000             13.560000      NaN
75%              2011.500000             60.205000      NaN
max              2020.000000            155.000000      NaN
std               543.657319             42.608844      NaN
None

In [21]:
#Filtre os consoles que foram descontinuados a menos de 2 anos da data de release.

df['Discontinuation Year'] = pd.to_datetime(df['Discontinuation Year'], format='%Y', errors='coerce')
df['Years Active'] = (df['Discontinuation Year'] - df['Released Year']).dt.days / 365.25
df_short_lived = df[df['Years Active'] < 2]

print(df_short_lived)

                        Console Name       Type           Company  \
33  SUPER NITENDINHO CLASSIC EDITION  Dedicated          Nintendo
44                  MAGNAVOX ODYSSEY       Home  Magnavox/Philips
50                        ATARI 5200       Home             Atari

   Released Year Discontinuation Year  Units sold (million)  \
33    2017-01-01           2018-01-01                  5.28
44    1978-01-01           1975-01-01                  2.00
50    1982-01-01           1984-01-01                  1.00

                                   Remarks  Years Active
33                                 missing      0.999316
44                                 missing     -3.000684
50  Final sales are greater than 1 million      1.998631