Exercicio Aula 9 - Banco de dados

In [2]:
import sqlite3
import pandas as pd

def tabelas_bd(db_path):
    conn = sqlite3.connect(db_path)
    query = "SELECT name FROM sqlite_master WHERE type='table';"
    df = pd.read_sql_query(query, conn)
    conn.close()
    return df

def salva_bd(df, nome_tabela, db_path):
    conn = sqlite3.connect(db_path)
    df.to_sql(nome_tabela, conn, if_exists='replace', index=False)
    conn.close()

def carrega_bd(nome_tabela, db_path):
    conn = sqlite3.connect(db_path)
    query = f"SELECT * FROM {nome_tabela};"
    df = pd.read_sql_query(query, conn)
    conn.close()
    return df

if __name__ == "__main__":

    arquivo_excel = r'C:\Users\Thais\projetopythoncode\Thais_Bastos_Aula_9\fastfood.xlsx'

    df_fastfood = pd.read_excel(arquivo_excel)

    db_path = "fastfood.db"

    tabela_nome = "fastfood"

    salva_bd(df_fastfood, tabela_nome, db_path)

    df_bd = carrega_bd(tabela_nome, db_path)

    # Exibe as tabelas do banco de dados
    print("Tabelas do banco de dados:")
    print(tabelas_bd(db_path))

    # Exibe o DataFrame carregado do banco de dados
    print("\nDataFrame carregado do banco de dados:")
    print(df_bd)

Tabelas do banco de dados:
       name
0  fastfood

DataFrame carregado do banco de dados:
    restaurant                                       item  calories  cal_fat  \
0    Mcdonalds           Artisan Grilled Chicken Sandwich       380       60
1    Mcdonalds             Single Bacon Smokehouse Burger       840      410
2    Mcdonalds             Double Bacon Smokehouse Burger      1130      600
3    Mcdonalds  Grilled Bacon Smokehouse Chicken Sandwich       750      280
4    Mcdonalds   Crispy Bacon Smokehouse Chicken Sandwich       920      410
..         ...                                        ...       ...      ...
510  Taco Bell             Spicy Triple Double Crunchwrap       780      340
511  Taco Bell                Express Taco Salad w/ Chips       580      260
512  Taco Bell                     Fiesta Taco Salad-Beef       780      380
513  Taco Bell                  Fiesta Taco Salad-Chicken       720      320
514  Taco Bell                    Fiesta Taco Salad-Steak       720      320

     total_fat sat_fat            trans_fat  cholesterol  sodium  total_carb  \
0            7       2                    0           95    1110          44
1           45      17  2023-05-01 00:00:00          130    1580          62
2           67      27                    3          220    1920          63
3           31      10                  0.5          155    1940          62
4           45      12                  0.5          120    1980          81
..         ...     ...                  ...          ...     ...         ...
510         38      10                  0.5           50    1850          87
511         29       9                    1           60    1270          59
512         42      10                    1           60    1340          74
513         35       7                    0           70    1260          70
514         36       8                    1           55    1340          70

     fiber  sugar  protein  vit_a  vit_c  calcium  salad
0      3.0     11     37.0    4.0   20.0     20.0  Other
1      2.0     18     46.0    6.0   20.0     20.0  Other
2      3.0     18     70.0   10.0   20.0     50.0  Other
3      2.0     18     55.0    6.0   25.0     20.0  Other
4      4.0     18     46.0    6.0   20.0     20.0  Other
..     ...    ...      ...    ...    ...      ...    ...
510    9.0      8     23.0   20.0   10.0     25.0  Other
511    8.0      7     23.0    NaN    NaN      NaN  Other
512   11.0      7     26.0    NaN    NaN      NaN  Other
513    8.0      8     32.0    NaN    NaN      NaN  Other
514    8.0      8     28.0    NaN    NaN      NaN  Other

[515 rows x 17 columns]